@import url(./custom-reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

body {
  background-color: #333;
  padding: 40px;
  color: #333;
}
@media screen and (max-width: 800px) {
  body {
    padding: 0px;
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}
@media screen and (max-width: 800px) {
  .container {
    padding: 0px;
  }
}

.inner {
  display: flex;
  min-height: 100vh;
}
.inner .info {
  flex: 30% 1 1;
  transition: flex 0.4s ease;
  background-color: #002e58;
  padding: 40px 20px 20px;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .inner .info {
    flex: 100% 1 1;
  }
}
.inner .info .tumbler {
  position: absolute;
  right: -17px;
  top: 144px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: #002e58;
  -webkit-animation: moveLeftRight 0.5s alternate ease infinite;
          animation: moveLeftRight 0.5s alternate ease infinite;
}
.inner .info.hidden {
  flex: 5% 1 1;
  transition: flex 0.4s ease;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .inner .info.hidden {
    flex: 20px 1 1;
    padding: 0;
  }
}
.inner .info.hidden .info-flex {
  display: none;
}
.inner .info.hidden .tumbler.hidden i {
  transform: rotate(180deg) translate(-10%, 0%);
}
.inner .content {
  flex: 100% 1 1;
  background-color: #fff;
  padding: 20px 20px 20px;
}
@media screen and (max-width: 800px) {
  .inner .content {
    flex: 20px 1 1;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .inner .content .content-flex {
    display: none;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .inner .content.full {
    flex: 100% 1 1;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .inner .content.full .content-flex {
    display: block;
    padding: 20px;
  }
}
.inner .info-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inner .content-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.info__user {
  margin-bottom: 40px;
}
.info__user .linkedin--icon {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0 2px 3px 4px;
}
.info__user > li, .info__user > li > a {
  display: flex;
  align-items: center;
}
.info__user > li:not(:last-child) {
  margin-bottom: 20px;
}

.skills {
  margin-bottom: 40px;
}
.skills .skills__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.skills .skills__item_name {
  margin-bottom: 5px;
}
.skills .skills__item_level {
  border: 1px solid #fff;
  border-radius: 3px;
  width: 100%;
  height: 10px;
  padding: 1px;
}
.skills .skills__item_level--value {
  background-color: #1487bb;
  height: 100%;
}

.languages {
  width: 100%;
}
.languages .languages__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.languages .languages__item_name {
  margin-bottom: 5px;
}
.languages .languages__item_level {
  border: 1px solid #fff;
  border-radius: 3px;
  width: 60%;
  height: 8px;
  padding: 1px;
}
.languages .languages__item_level--value {
  background-color: #1487bb;
  height: 100%;
}

.personal {
  width: 100%;
  margin-bottom: 40px;
}
.personal .personal--flex {
  display: flex;
  justify-content: space-between;
}
.personal .personal__text {
  padding-top: 20px;
  flex: 80% 1 1;
}
.personal .personal__text--title {
  font-size: 38px;
  line-height: 40px;
  font-weight: 700;
}
.personal .personal__text--desc {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 23px;
  height: 23px;
  margin: 20px 0 15px;
}
.personal .personal__photo {
  flex: 20% 1 1;
  height: auto;
  border: 2px solid #002e58;
  border-radius: 50% 50% 50% 10%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 100px;
  max-width: 110px;
}
@media screen and (max-width: 800px) {
  .personal .personal__photo {
    max-width: 96px;
    max-height: 114px;
  }
}
.personal .personal__photo img {
  width: 100%;
  height: 100%;
  max-width: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 800px) {
  .personal .personal__photo img {
    max-width: 96px;
  }
}
.personal .personal__photo img:hover {
  transform: scale(1.4) translate(3%, 10%);
}
.personal .line {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: #002e58;
  border-radius: 15px;
}

.content__title {
  font-size: 20px;
  color: #002e58;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.description {
  margin-bottom: 40px;
}
.description .description__subtitle div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.description .description__subtitle h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: normal;
}
.description .description__subtitle h4 {
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
}
.description .description__subtitle h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
}
.description .description__subtitle p {
  color: #002e58;
  font-weight: 600;
  font-size: 12px;
  padding-left: 10px;
  white-space: nowrap;
}
.description .description__text {
  margin-left: 20px;
}
.description .description__text ul {
  padding-left: 20px;
  list-style-type: disc;
}
.description .description__text ul li {
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 19px;
  display: list-item;
  list-style-type: disc;
}

@-webkit-keyframes moveLeftRight {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-1px);
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-1px);
  }
}/*# sourceMappingURL=style.css.map */