@import url(./custom-reset.css);

.container{
  max-width: 900px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  font-family: Montserrat,sans-serif;
}

.inner{
  display: flex;
  min-height: 100vh;

  .info{
    flex: 30% 1 1;
    background-color: #002e58;
    padding: 40px 20px 20px;
  }

  .content{
    flex: 70% 1 1;
    background-color: #fff;
    padding: 40px 20px 20px;
  }

  .info-flex{
    display: flex;
    flex-direction: column;
  }

  .content-flex{
    display: flex;
    flex-direction: column;
  }
}

.info__user{
  color: #fff;

  &-title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }

  &-email{

  }
  &-tel{

  }
  &-location{

  }
  &-linkedin{
    &--icon{
      font-size: 20px;
      font-weight: 600;
    }
  }

  &>li,
  &>li>a{
    display: flex;
    align-items: center;
  }

  &>li:not(:last-child){
    margin-bottom: 20px;
  }
}